[submodule "bert_pipeline/bert"]
	path = bert_pipeline/bert
	url = https://github.com/google-research/bert.git
[submodule "pipeline/subword-nmt"]
	path = pipeline/subword-nmt
	url = https://github.com/rsennrich/subword-nmt.git
[submodule "bert_pipeline/subword-nmt"]
	path = bert_pipeline/subword-nmt
	url = https://github.com/rsennrich/subword-nmt.git
